input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    height: 30px;
    width: 30px;
}

.checkbox {
  vertical-align: middle;
  height: 50px;
}

#editview input[type="checkbox"] {
    display: none;
}

#editview input[type="checkbox"] + label {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    /* btn-color */
    color: #95a5a6;
    background-color: transparent;
    background-image: none;
    border-color: #95a5a6;
    /* btn-sm */
    padding: 0.25rem 0.5rem;
    font-size: 0.8203125rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 100%;
}

#editview input[type="checkbox"]:checked + label {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    /* btn-color */
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    /* btn-sm */
    padding: 0.25rem 0.5rem;
    font-size: 0.8203125rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 100%;
}

#compliantcheck input[type="checkbox"] + label {
  color: #E74C3C;
  /*background-color: #E74C3C;*/
  /*border: 1px solid #E74C3C;*/
}

#compliantcheck input[type="checkbox"]:checked + label span#false {
  display: none;
}

#compliantcheck input[type="checkbox"] + label span#false {
  display: inherit;
;
}
#compliantcheck input[type="checkbox"] + label span#true {
  display: none;
}

#compliantcheck input[type="checkbox"]:checked + label span#true {
  display: inherit;
}

#sensitivecheck input[type="checkbox"]:checked + label {
  border: 1px solid #E74C3C;
  background-color: #E74C3C;
} 

#sensitivecheck input[type="checkbox"] + label {
  color: #fff;
  background-color: #18BC9C;
  border-color: #18BC9C;
}

#sensitivecheck input[type="checkbox"] + label {
  /*color: #E74C3C;*/
  /*background-color: #E74C3C;*/
  /*border: 1px solid #E74C3C;*/
}

#sensitivecheck input[type="checkbox"]:checked + label span#false {
  display: none;
}

#sensitivecheck input[type="checkbox"] + label span#false {
  display: block;
}
#sensitivecheck input[type="checkbox"]:checked + label span#true {
  /*color: #E74C3C;*/
  display: block;
  background-color: #E74C3C;
}

#sensitivecheck input[type="checkbox"] + label span#true {
  display: none;
}
